{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">   
    <h1>Suivi des échantillons</h1>
    <a href="{{ path('formulaire') }}" class="btn btn-secondary">Entrez</a>
</div>
{% endblock %}